body {
    background-color: bisque;
}

div.primero {
    text-align: center;
    width: 80;
    height: 80;
}

nav.enlaces {
    text-align: center;
    background-color: rgb(133, 233, 233);
}
a:visited{
    color: rgb(25, 102, 25);
}

a:link {
    color: rgb(25, 102, 25);
}

div.uno {
    background-color: white;
    
}

img.empresa1 {
    
   
}
 div.dos {
    background-color: rgb(133, 233, 233);
 }

 img.empresa2 {
    position: relative;
   
 }

 p.colorazul {
    background-color: blue;
    color: blue;
 }

 p.colorrojo {
    color: red;
    background-color: red;
 }

 span {
    background-color: yellow;
 }

 footer {
    text-align: center;
 }

 p.rojo {
    color: red;
 }

 p.azul {
    color: blue;
 }